
@font-face {
    font-family: "myfont";
    src: url("../font/misaki_gothic.ttf") format("truetype");
    font-display: swap;
}
body {
    background-color: rgb(55, 64, 64);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: myfont, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 20px;
    color: #333;
    position: relative;
}
.grid {
    display: grid;
    gap: 0vmin;
    max-width: 70vmin;
    margin: 20px auto;
}
.grid img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}
.button-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
button {
    padding: 10px 20px;
    font-family: "myfont", sans-serif;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.reload-button {
    background-color: #4CAF50;
    color: white;
}
label {
    color: white;
}
